

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f83cc;
}

.container{
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

}


.color-palette {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
margin: 12px;
right: 0;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
border-radius: 30px;
padding: 8px;
text-align: center;
}




.round-button-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #ff0000;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  box-shadow: red;
  

}

.round-button-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #0000ff;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  box-shadow: blue;
}
    
.round-button-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color:#00ff00;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  box-shadow: #00ff00;
}
    
.round-button-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color:#786;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  box-shadow: #786;
}
    
.round-button-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color:#567;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  box-shadow: #567;
}
    
.round-button-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color:#000;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  box-shadow: #000;
}




.color-palette .theme-color {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.color-palette .theme-color:not(:last-child) {
  margin-bottom: 10px;
}
    

.Default-Theme {
  background: #4f83cc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.weather{
  
  border-radius: 10px;
  box-shadow: 0 4px 8px ;
  box-sizing: 10px;
  padding: 20px;
  width: 300px;

}


.weather-icon{
  width: 170px;
  margin-top: 30px;
  
}

.weather h1{
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.weather h2{
  font-size: 50px;
  font-weight: 400;
  margin-top: -10px;
  color: white;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  align-items:center ;
}

.humidity, .wind{
  font-size: 18px;
  margin-top: -6px;
  color: white;
}

.col p{
  font-size: 15px;
  margin-top: -3px;
  color: white;

}
