__style.css


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.body,html{
    background-color:#00ffff ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

.weather-details{
    background: rgb(255, 0, 234);
    border-radius: 10px;
    box-shadow: 0 4px 8px ;
    box-sizing: 10px;
    padding: 20px;
    width: 300px;
}

.weather-details h1{
    color: #1900ff;
    margin-right: 10 px 0;
}

.weather-details p{
    color: rgb(0, 0, 0);
    margin: 10px 0;
}


.city-details p{
    color: aqua;
    margin: left;
}

.city-details b{
    color: black;
}

.bx{
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.bottom-details .column {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
  }
  .column i {
    color: var(--secondary-color);
    font-size: 40px;
  }
  .column.humidity {
    border-left: 1px solid #ccc;
  }
  .column .details {
    margin-left: 3px;
  }
  .details .temp,
  .humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
  }
  .details .temp .deg {
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
  }
  .column .details p {
    font-size: 14px;
    margin-top: -6px;
  }
  .humidity i {
    font-size: 37px;
  }