
styles.css
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f83cc;
}

.container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: flex-end; /* This line aligns buttons to the right */
}


.weather-app {
    background: #4f83cc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.weather-app h1 {
    color: white;
    margin-bottom: 20px;
}

.weather-app input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.weather-app p {
    color: white;
    margin: 10px 0;
}

.weather-app button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b82f6;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  
}

.color-palette {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}




.round-button-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: #ff0000;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
  
.round-button-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: #0000ff;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
      
.round-button-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color:#00ff00;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    
  }



  .color-palette {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 12px;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 31px;
    padding: 10px;
    text-align: right;
  }
  
  .color-palette .theme-color {
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .color-palette .theme-color:not(:last-child) {
    margin-bottom: 10px;
  }
      
  